:root {
    --theme-grey: rgb(93, 115, 126);
    --theme-blue-green: #64b6ac;
    --theme-green: rgb(218, 255, 239);
    --theme-light: rgb(252, 255, 253);
}

body {
    background-color: var(--theme-blue-green) !important;
}

/* Remove outline from navbar toggle button */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}