// Import Bootstrap theme variables
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$primary: rgb(100, 182, 172);
$secondary: rgb(152,204,196);
$grey: rgb(75, 75, 75);
$light: rgb(230, 230, 230);

$enable-negative-margins: true;

// Not required, but you can merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
  "grey": $grey,
  "light": $light
));

// Import Bootstrap after to overwrite variables
@import 'bootstrap';