@import './custom.scss';

.postContainer {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 10px;
    height: 12rem;
    margin-bottom: 1rem;
}

.postSection {
    max-height: 100%;
    padding: 0rem !important;
}

.postAuthor {
    font-size: small;
    padding-top: 1rem;
}

.postDate {
    font-size: small;
}

.postTitle {
    font-weight: bold;
    margin-top: -.75rem;
}

.postSummary {
    font-size: 14px;
    margin-top: -.5rem;
    max-height: 4rem;
    /* Handle multiline text-overflow */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; // max num lines to show
    -webkit-box-orient: vertical;
}

.postTag {
    border-radius: 5px;
    background-color: $primary;
    color: whitesmoke;
    font-weight: lighter;
}

.postImage {
    border-radius: 5px;
    width: 90%;
    height: calc(100% - 2rem);
}